body{
    background-color: rgb(0, 15, 22);
}
.game-grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin: 100px;
}
.game{
    width:100%;
    padding-top: 10%;
    position: relative;
}
.game-grid-item{
    width: 90%;
    height: 90%;
    position: static;
    top: 0;
    bottom:0;
    right:0;
    left: 0;
    object-fit: scale-down;
    border: 5px solid rgb(0, 155, 34);
}
.game-title{
    position:relative;
    margin: auto;
    text-align: center;
    font-size: 150%;
    padding: 10px;
}
.footer-pic{
    height:80px;
    width:140px;
}
footer{
    height:2.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    bottom: 0;
    width: 100%;
}
.login{
    float: right;
    text-decoration: none;
}
.center{
    margin: auto;
    width: 20%;
    border: 3px solid rgb(128, 0, 0);
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.sidenav{
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.form-signin input[type="username"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="top"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="bottom"]{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="mid"]{
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin{
    height: auto;
    padding: 15px;
    font-size: 16px;
    box-sizing: border-box;
    max-width: 330px;
    align-items: center;
    margin: 0 auto;
}
.sign-in {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.body-sign-in{
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    text-align: center;
}
.home{
    padding-left: 15px;
    padding-right: 15px;
}
.list{
    max-width: 500px;
    text-align: justify;
    margin: auto;
    padding-top: 5px;
}
.admin log-in{
    text-align: center;
    margin: auto;
}
.admin{
    text-align: center;
    margin: auto;
}
.downloadPage{
    margin: auto;
    display: flex;
    width: 68%;
}
.leftPage{
    margin-left: 5px;
    margin-right: 20%;
    width: 30%;    
}
.gamePicture{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.gameVideo{
    width: 100%;
    padding-top: 34%;
    height: 0px;
    position: relative;
}
.video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.topRight{
    width: 190%;
    padding-top: 119%;
    height: 0px;
    position: relative;
}
.gameTitle{
    margin-top: 3%;
    margin-left: 16%;
    font-size: 30pt;
    color: red;
}
.introTitle{
    align-items: center;
    margin: auto;
    padding:5px;
    text-align: center;
}
.introParagraph{
    text-align: center;
}