<!doctype html>
<html lang="en">

<head>
	<title>Mylo Media</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/styles/style.css">
	<link rel="icon" href="/styles/favicon.ico" type="image/x-icon">
</head>

<body>
	Here are various photos of my dog.
	<div class="image-grid">
		{{#each this}}
		<div class="images">
			<a href="/dispmedia/{{id}}" style="">
				{{#if pic}}
				<img class="image-thumb" src="/photos/{{location}}" alt="Mylo">
				{{else}}
				<img class="video-thumb" src="/photos/{{location}}.jpg" alt="Mylo">
				{{/if}}
			</a>
		</div>
		{{/each}}
	</div>


</body>

<footer>
    Could you tell I don't design wepbages?
</footer>
</html>